<h2>Listing registrations for <%= display_eventname %></h2>
	
<div id="stats">
	<ul>
		<li><strong>Attendee count:  <span><%= number_of_attendees %></span></strong></li>
		<li class="stat"><strong>Lunch count:  <span><%= number_of_attendees_for_lunch %></span></strong></li>
		<li class="stat"><strong>Dinner count:  <span><%= number_of_attendees_for_dinner %></span></strong></li>
		<li class="stat"><strong>Abstract count:  <span><%= number_of_abstracts %></span></strong></li>
		<li class="stat"><strong>Latest attendee: <%= latest_attendee %></strong></li>
	</ul>
</div>
<div class="clearthemall">
	&nbsp;
</div>

<table id="dataTable">
  <tr>
    <th>Title</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Organization</th>
		<th>Dept.</th>
    <th>Email</th>
    <th>Lunch?</th>
		<th>Evening Session</th>
		<th># for dinner</th>
		<th>Bus. Officer</th>
		<th>Bus. Officer Email</th>
		<th>Bus. Officer Phone</th>
		<th>Reg. Date</th>
		<th colspan="3">Actions</th>
  </tr>

<% for registration in @registrations %>
  <tr class="<%= cycle('rowA', 'rowB') %>">
    <td><%=h registration.title %></td>
    <td><%=h registration.firstname %></td>
    <td><%=h registration.lastname %></td>
    <td><%=h registration.address1 %></td>
    <td><%=h registration.address2 %></td>
    <td><%=h registration.city %></td>
    <td><%=h registration.state %></td>
    <td><%=h registration.zip %></td>
    <td><%= format_phone(h(registration.phone)) %></td>
    <td><%=h registration.organization %></td>
		<td><%= h registration.dept %></td>
    <td><%= mail_to(h(registration.email)) %></td>
		<td><%= going_lunch?(registration) %></td>
		<td><%= going_esession?(registration) %></td>
		<td><%= h registration.partysize %></td>
		<td><%= h registration.bizperson %></td>
		<td><%= h registration.bizpersonemail %></td>
		<td><%= h registration.bizpersonphone %></td>
		<td><%= h time_ago_in_words(registration.created_at) %> ago</td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registration', new_registration_path %>
<%= link_to 'Download CSV File', formatted_registrations_path(:csv) %>
<%= link_to 'Download ALL Attachment', formatted_registrations_path(:zip) %>



