<% if logged_in? %>
	<div id="adminHeader">
		Welcome <%= current_account.username %>! Not you?
	  <%= link_to "Log out", logout_path %>
	</div>
<% end %>
<h1>Registration Receipt</h1>
<div id="thanks">
	<p><%= @registration.created_at %></p>
	<p>Thank you for registering, <%= prettyNameFormat %>. <br />Please use this receipt to send in your participant payment and keep a copy for your records.</p>
	<p>Your confirmation number is: <%= @registration.id %></p>
</div>
<div id="eventInfo">
	<h2><%= display_eventname %></h2>
	<h3><%= display_eventdate %></h3>
</div>
<div id="regInfo">
	<h4>Personal Info</h4>
	<ul>
		<li><%= prettyNameFormat %></li>
		<li><%= @registration.organization %></li>
		<li><%= @registration.status %></li>
	</ul>
	<h4>Contact Info</h4>
	<ul>
		<li><%= @registration.email %></li>
		<li><%= number_to_phone(@registration.phone, {:area_code => true}) %></li>
		<li><%= @registration.address1 %><br />
				<%= @registration.address2 %><br />
				<%= @registration.city %>,&nbsp;<%= @registration.state %>&nbsp;<%= @registration.zip %></li>
	</ul>
	<h4>Registration Info</h4>
	<ul>
		<li>Lunch: <%= going_lunch?(@registration) %></li>
		<li>Evening session: <%= going_esession?(@registration) %></li>
		<li>Partysize for dinner: <%= @registration.partysize %></li>
		<li>Abstract: <%= getAbstract(@registration) %></li>
	</ul>
</div>
<div id="payment">
	<h2>Payment instructions</h2>
	<p><strong>Registration Fees: <%= number_to_currency(@registration.fees) %></strong></p>
	<h3>Business officer</h3>
	<ul>
		<li><%=h @registration.bizperson %></li>
		<li><%=h @registration.bizpersonemail %></li>
		<li><%=h @registration.bizpersonphone %></li>
	</ul>
	<h3>On-campus</h3>
	<p>Please supply this receipt to your departmental business officer for payment by IDIV.</p>
	<p>Questions? Please contact <%= display_secretary %>.</p>
	<p>Please transfer funds into account: 30XXXXXXX00 before <%= display_reg_stop_date %></p>
	<h3>Off-campus</h3>
	<p>Mail a copy of this registration receipt along with your payment by <%= display_reg_stop_date %> to:<br />
		<%= display_director %><br />
		Symposium Director<br />
		<%= display_director_address %>
		</p>
</div>
<% if logged_in? %>
<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
<% end %>
