<h1>Registration Receipt</h1>
<div id="thanks">
	<p><%= @registration.created_at %></p>
	<p>Thank you for registering, <%= prettyNameFormat %>. <br />Please use this receipt to send in your participant payment and keep a copy for your records.</p>
	<p>Your confirmation number is: <%= @registration.id %></p>
</div>
<div id="eventInfo">
	<h2><%= display_eventname %></h2>
	<h3><%= display_eventdate %></h3>
</div>
<div id="regInfo">
	<h4>Personal Info</h4>
	<ul>
		<li><%= prettyNameFormat %></li>
		<li><%= @registration.organization %></li>
		<li><%= @registration.status %></li>
	</ul>
	<p>Registration Fees: <%= number_to_currency(@registration.fees) %></p>
</div>
<p>
  <b>Title:</b>
  <%=h @registration.title %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @registration.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @registration.lastname %>
</p>

<p>
  <b>Address1:</b>
  <%=h @registration.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @registration.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @registration.city %>
</p>

<p>
  <b>State:</b>
  <%=h @registration.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @registration.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @registration.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @registration.email %>
</p>

<p>
  <b>Status:</b>
  <%=h @registration.status %>
</p>

<p>
  <b>Dept:</b>
  <%=h @registration.dept %>
</p>

<p>
  <b>Eveningsession:</b>
  <%=h @registration.eveningsession %>
</p>

<p>
  <b>Guest:</b>
  <%=h @registration.guest %>
</p>

<p>
  <b>Partysize:</b>
  <%=h @registration.partysize %>
</p>

<p>
  <b>Lunch:</b>
  <%=h @registration.lunch %>
</p>

<p>
  <b>Bizperson:</b>
  <%=h @registration.bizperson %>
</p>

<p>
  <b>Bizpersonemail:</b>
  <%=h @registration.bizpersonemail %>
</p>

<p>
  <b>Bizpersonphone:</b>
  <%=h @registration.bizpersonphone %>
</p>
<p>
	<b>Abstract:</b>
	<% if @registration.abstract_file_name.nil?%>
		no abstract
	<% else %>
		<%= link_to "#{@registration.abstract.original_filename}", @registration.abstract.url %>
	<% end %>
	
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
