<div id="registrations">
	<ul>
		<% for registration in @registrations %>
			<li class="<%= cycle('odd', 'even') %>"><strong><%= link_to(format_name(registration), registration)  %></strong><br />Fees: <%= number_to_currency(registration.fees) %> <br /><span><%= link_to 'Edit', edit_registration_path(registration) %> | <%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></span></li>
		<% end %>
	</ul>
		
	
</div>
