<div id="leftcolumn">
	<div id="stats">
		<h3>Quick Look</h3>
		<ul>
			<li><p><strong>Attendee count:  <span><%= number_of_attendees %></span></strong></p></li>
			<li><p><strong>Lunch count:  <span><%= number_of_attendees_for_lunch %></span></strong></p></li>
			<li><p><strong>Dinner count:  <span><%= number_of_attendees_for_dinner %></span></strong></p></li>
			<li><p><strong>Total Reg. Fees: <span><%= number_to_currency(total_reg_fees) %></span></strong></p></li>
			<li><p><strong>Abstract count:  <span><%= number_of_abstracts %></span></strong></p></li>
			<li><p><strong>Latest attendee: <%= latest_attendee %></strong></p></li>
		</ul>
	</div>
	<div id="funcs">
		<h3>Quick Functions</h3>
		<ul>
			<li><p><%= link_to 'New registration', new_registration_path %></p></li>
			<li><p><%= link_to 'Download ALL Registrations (CSV File)', formatted_registrations_path(:csv) %></p></li>
			<li><p><%= link_to 'Download ALL Abstracts (ZIP File)', formatted_registrations_path(:zip) %></p></li>
		</ul>
	</div>
</div>
<div id="rightcolumn">
	<div id="searchbox">
		<h3>Notes</h3>
		<div>
			The information at the left is current and up to date as of: <%= last_update %>
		</div>
	</div>
</div>
<div class="clearthemall">
	&nbsp;
</div>